name: JSON Syntax & EntriesCheck
on: [push]

jobs:
  jsontest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2
    - uses: shogo82148/actions-setup-perl@v1.37.1
      with:
        perl-version: '5.32'
        install-modules-with: cpanm
        install-modules-args: --no-interactive -v --installdeps
    - name: run prove (testscripts)
      run: |
        prove -lr --ext=.pl t
